<%- include('../partials/header') %>

<h2>Search employee</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>Approved Software</th>
			<th>Purchased</th>
            <th>Full Time Employee</th>
		</tr>
	</thead>
	
</table>

<div>Enter new software with purchase date:</div>
<form id="add-software-form" action="/employees" method="POST">
    <input type="text" name="approvedSoftware">
    <input type="datetime-local" name="purchased">
    </label><br>
    <input type="Submit" value="Add Software">
</form>


<%- include('../partials/footer') %>
