<%- include('./partials/header') %>
<p>This app was designed for business administrators and the employees they are supporting to help track software approved for use.</p>
<p>For many companies that produce software, using only approved software is paramount. Use of any unapproved software in production can lead to serious legal issues which can put any company at risk.</p>
<p>Please log in to utilize the app! You can add/remove employees and softwares designated for them.</p>
<%- include('./partials/footer') %>