<%- include('../partials/header') %>

<section id="badge-container">
  <div>Please add new approved software to the list</div>
<% softwares.forEach(function(s) { %>
  <article class="badge"><%= s.approvedSoftware %></article>
<% }) %>
</section><br>

<form id="add-software-form" action="/softwares" method="POST">
  <label>Software:</label>
  <input type="text" name="approvedSoftware">
  <input type="submit" value="Add Software">
</form>

<%- include('../partials/footer') %>
