<%- include('../partials/header') %>

<section id="badge-container">
  <% softwares.forEach(function(s) { %>
  <form action="/softwares/<%= s.approvedSoftware %>?_method=DELETE" 
    method="POST" class="delete-form">
  <article class="badge"><%= s.approvedSoftware %></article>
  <button type="submit">Delete</button>
  <% }) %>
</form>  

</section>

<form id="add-software-form" action="/softwares" method="POST">
  <label>Software:</label>
  <input type="text" name="approvedSoftware">
  <input type="submit" value="Add Software">
</form>

<%- include('../partials/footer') %>
