<%- include('../partials/header') %>

<div>Select Employee: </div><br>


<div>Enter new software with purchase date:</div>
        <input type="text" name="approvedSoftware">
        <input type="datetime-local" name="purchased">
    </label><br>
    <input type="Submit" value="Add Software">
</form>


<%- include('../partials/footer') %>
