* {
  box-sizing: border-box;
  color: #00B7FF;
}

body {
  margin: 0;
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp4302953.png");
  background-size: cover;
}

table {
  justify-items: center;
  border: 1px solid rgb(3, 65, 122);
  text-align: center;
  width: 95%;
  border-collapse: collapse;
}

nav :hover, td :hover {
  color: tomato;
}

a {
  color: #00B7FF;
}

nav, .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgba(0, 113, 128, 0.2);
}

.login {
  background-color: rgba(0, 150, 0, 0);
}

.login img {
  height: 30px;
  color:rgba(255, 255, 255, .5);
  background-color: rgba(255, 255, 255, .5);
}

#avatar {
  height: 25px;
}

input {
  padding:0.2rem;
  border-radius: 0.2rem;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 90%;
  border: 1px solid rgb(3, 65, 122);
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: rgba(0, 113, 128, 0.2);
  padding: .5rem;
  margin: .2rem;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

button:hover {
  color: tomato;
}

button, input, select, textarea {
  background-color: rgba(0, 113, 128, 0.2);
}

input:hover {
  color: tomato;
}

p {
  text-align: center;
  border: 1px solid rgb(3, 65, 122);
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}
