<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Software name</th>
            <th>Suggestion</th>
            <th></th>
        </tr>
    </thead>
	<tbody>
		<% inquiries.forEach(function(i) { %>
		<tr>
			<td><%= i.approvedSoftware %></td>
			<td><%= i.data %></td>
			<% }); %>
		</tr>
	</tbody>
</table><br>

<form id="add-inquiry-form" action="/inquiries" method="POST">
    <label>Software name:</label>
    <input type="text" name="approvedSoftware">
    <label>Suggestion:</label>
    <input type="text" name="data">
    <input type="submit" value="Add suggestion">
</form>

<%- include('../partials/footer') %>